@import './base.css';

html, body {
    height: 100%;
    min-heigth: 100vh;
}

#app {
    height: 100%;
    font-weight: normal;
}


/* element-plus 컴포넌트 css */
.el-container {
    height: 100% !important;
}

.el-main {
    display: flex !important;
    padding: 0 !important;
    flex-direction: column;
}

.el-header {
    display: flex;
    margin: 10px 0;
    height: fit-content !important;
}

.el-footer {
    display: flex !important;
    padding: 0 !important;
    height: fit-content !important;
    max-height: 200px;
}

.el-checkbox > span > span {
    height: 28px !important;
    width: 28px !important;
    border-radius: 5px !important;
    border: 3px solid #f90 !important;
    background-color: #fff !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #f90 !important;
}

.el-checkbox__inner::after {
    height: 12px !important;
    width: 12px !important;
}

.el-backtop > i > svg > path {
    fill: orangered;
}

.el-button + .el-button {
    margin-left: 0 !important;
}

.el-button--warning.category-btn {
    background-color: rgba(255, 153, 0, 0.6) !important;
    border-color: rgba(255, 153, 0, 0.6) !important;
    border-radius: 30px !important;

    width: 100px;
    height: 50px;

    font-size: 18px;
}

.el-button--warning.category-btn:hover {
    background-color: #f90 !important;
    border-color: #f90 !important;
}

.el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px #ff6b00 !important;
}


@media (hover: hover) {
    a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

@media (min-width: 1024px) {
    /*body {*/
    /*  display: flex;*/
    /*  place-items: center;*/
    /*}*/
    /*#app {*/
    /*  display: grid;*/
    /*  grid-template-columns: 1fr 1fr;*/
    /*  padding: 0 2rem;*/
    /*}*/
}
