@import './base.css';

#app {
    min-height: inherit;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.4s;
    padding: 3px;
}

/* element-plus 컴포넌트 css */
.el-header {
    margin: 17px 0 5px;
}

.el-footer {
    margin: 5px 0 17px;
    padding: 10px;
    height: fit-content;
}

.el-checkbox > span > span {
    height: 28px !important;
    width: 28px !important;
    border-radius: 5px !important;
    border: 3px solid #f90 !important;
    background-color: #fff !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #f90 !important;
}

.el-checkbox__inner::after {
    height: 12px !important;
    width: 12px !important;
}


@media (hover: hover) {
    a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

@media (min-width: 1024px) {
    /*body {*/
    /*  display: flex;*/
    /*  place-items: center;*/
    /*}*/
    /*#app {*/
    /*  display: grid;*/
    /*  grid-template-columns: 1fr 1fr;*/
    /*  padding: 0 2rem;*/
    /*}*/
}
